.forgotPasswordContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.forgotPasswordForm {
    width: 480px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}