.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 720px;
  max-height: 718px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1C1C21;
}

.modalHeader {
  width: 640px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalClose:hover {
  cursor: pointer;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
}
