.container {
    width: 600px;
    display: flex;
    flex-direction: column;
}

.ingredient {
    width: 272px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.ingredientsGroup {
    display: flex;
    flex-flow: row wrap;
}

.counter {
    position: absolute;
    top: 0;
    right: 0;
}

.allIngredients {
    overflow-y: scroll;
    min-height: fit-content;
    max-height: 65vh;
    width: 600px;
}

.tabs {
    display: flex;
}

.ingredientImg:hover {
    cursor: pointer;
}

.composition {
    display: flex;
}

.compositionStat {
    display: flex;
    flex-direction: column;
    align-items: center;
}